@mixin floating(
  $border: solid,
  $color: antiquewhite,
  $radius: 6px,
  $shadow: 0px 10px 13px -7px #000000
) {
  border-style: $border;
  border-color: $color;
  border-radius: $radius;
  box-shadow: $shadow;
}

@mixin grid() {
}
